{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<input type="number" name="A" id="A" required>
<input type="number" name="B" id="B" required>
<button data-new="{% url 'api_v1:add' %}" class="btn btn-primary" id="add">add</button>
<button data-new="{% url 'api_v1:subtract' %}" class="btn btn-primary" id="subtract">subtract</button>
<button data-new="{% url 'api_v1:multiply' %}" class="btn btn-primary" id="multiply">multiply</button>
<button data-new="{% url 'api_v1:divide' %}" class="btn btn-primary" id="divide">divide</button>
<div id="answer">
    <h1 id="h1"></h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="{% static 'js/newJs.js' %}"></script>
</body>
</html>


