<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<input type="number" name="A" required>
<input type="number" name="B" required>
<button id="add">add</button>
<button id="subtract">subtract</button>
<button id="multiply">multiply</button>
<button id="divide">divide</button>
<div id="answer">
    <h1></h1>
</div>


<script src="{% static 'js/index.js' %}"></script>
</body>
</html>